@import './../../styles/variables/_variables';

$header-group__margin-left: 12.8rem; // container indent + logo size
$header-group__margin-left--S: $row__gutter + 14.3rem; // container indent + logo size
$header-group__margin-left--L: $logo__size--L + $row__gutter--L;
$header-group__margin-left--XL: $logo__size--L + $row__gutter--L + $indent--XL;

$header-title__font-size: 3.2rem;
$header-title__font-size--L: 4.8rem;

$header-subtitle__font-size: $header-title__font-size / 2;
$header-subtitle__font-size--L: $header-title__font-size--L / 2;

$header-description-image__indent-top: .7rem;
$header-description-image__indent-top--L: 2.7rem;

$nav-link-line__size: $indent;

.header {
	padding-top: $indent;
	overflow-x: hidden;
}

.header-container {
	position: relative;
}

.header-group {
	margin-left: $header-group__margin-left;
	@media (min-width: $screen--S) and (max-width: $break--L) {
		margin-left: $header-group__margin-left--S;
	}
	@media (min-width: $screen--M) {
		margin-left: $header-group__margin-left--L;
	}
	@media (min-width: $screen--L) {
		margin-left: $header-group__margin-left--XL;
	}
}

.header-title,
.header-subtitle {
	color: $color--black;
}

.header-title {
	margin-top: 1.3rem;
	margin-bottom: .5rem;;
	font-size: $header-title__font-size;
	line-height: .9;
	letter-spacing: .025em;
	@media (min-width: $screen--S) and (max-width: $break--L) {
		margin-top: 2.7rem;
		margin-bottom: .7rem;
	}
	@media (min-width: $screen--M) {
		font-size: $header-title__font-size--L;
		letter-spacing: normal;
		transform: translateX(-0.2rem);
	}
}

.header-subtitle {
	padding-left: .2rem;
	font-size: $header-subtitle__font-size;
	margin-bottom: $indent;
	@media (min-width: $screen--M) {
		margin-bottom: $indent--L;
		font-size: $header-subtitle__font-size--L;
	}
}

.header-description {
	clear: both;
	@media (min-width: $screen--M) {
		clear: none;
		margin-left: $header-group__margin-left--L;
	}
	@media (min-width: $screen--L) {
		margin-left: $header-group__margin-left--XL;
	}
}

.header-description-image {
	float: right;
	margin-top: .7rem;
	shape-outside: url('/app/img/pictures/body.png');
	@media (min-width: $screen--L) {
		margin-top: $header-description-image__indent-top--L;
	}
}

.header-description-image-support {
	position: relative;
	&::after {
		content: '';
		position: absolute;
		top: $header-description-image__indent-top;
		left: 100%;
		right: -1000rem;
		border-top: 1px solid $border-color;
		@media (min-width: $screen--L) {
			top: $header-description-image__indent-top--L;
		}
	}
}

.heading-group {
	@media (min-width: $screen--S) and (max-width: $break--L) {
		width: 100%;
	}
	@media (min-width: $screen--S) {
		vertical-align: top;
		display: table-cell;
	}
}

.header-group-inner-wrap {
	@media (min-width: $screen--S) {
		display: table;
		width: 100%;
	}
}

.nav-wrap {
	margin-top: $indent--L;
	margin-left: -$header-group__margin-left;
	text-align: center;
	@media (min-width: $screen--S) and (max-width: $break--L) {
		margin-top: $indent;
		text-align: right;
		padding-left: $indent;
	}
	@media (min-width: $screen--S) {
		display: table-cell;
		vertical-align: middle;
	}
}

.nav {
	display: inline-block;
	position: relative;
	padding-top: $nav-link-line__size;
	@media (min-width: $screen--S) and (max-width: $break--L) {
		padding-top: 0;
		padding-right: $nav-link-line__size;
		&::after,
		&::before {
			content: '';
			position: absolute;
		}
		&::after {
			width: .1rem;
			right: 0;
			top: $nav-link-line__size;
			bottom: $nav-link-line__size;
			border-left: $line__border;
		}
		&::before {
			top: 50%;
			left: 100%;
			width: 100%;
			border-bottom: $line__border;
		}
	}
}

.nav-link {
	position: relative;
	margin-left: .5em;
	margin-bottom: $indent;
	@media (min-width: $screen--S) and (max-width: $break--L) {
		display: block;
		text-align: center;
		margin-left: 0;
		margin-top: $indent--S;
		margin-bottom: 0;
	}
	&::before {
		position: absolute;
		content: '';
		top: -$nav-link-line__size;
		bottom: calc(100% + .1rem);
		left: 50%;
		width: .1rem;
		border-left: $line__border;
		@media (min-width: $screen--S) and (max-width: $break--L) {
			width: $nav-link-line__size;
			height: .1rem;
			top: 50%;
			bottom: auto;
			left: 100%;
			border-top: $line__border;
		}
	}
	&:first-child {
		margin-left: 0;
		margin-top: 0;
		&::after {
			position: absolute;
			content: '';
			border-bottom: $line__border;
			width: $break--M;
			left: 50%;
			top: -$indent;
			@media (min-width: $screen--S) and (max-width: $break--L) {
				display: none;
			}
		}
	}
}
