//  Clearfix

@mixin clearfix() {
	&::after {
		content: '';
		display: block;
		clear: both;
	}
}

//  Fonts

@mixin custom-font($fontName, $fileName1, $fileName2: false, $fileName3: false, $fileName4: false, $fileName5: false, $path: '../../../fonts/') {
	$fontWeight: 'normal', 'bold', 'normal', 'bold';
	$fontStyle: 'normal', 'normal', 'italic', 'italic';
	$i: 1;
	@each $fileName in $fileName1, $fileName2, $fileName3, $fileName4, $fileName5 {
		@if $fileName != false {
			@font-face {
				font-weight: unquote(nth($fontWeight, $i));
				font-style: unquote(nth($fontStyle, $i));
				font-family: $fontName;
				src: url($path + $fileName + '.eot');
				src: url($path + $fileName + '.eot?#iefix') format('embedded-opentype'), url($path + $fileName + '.woff2') format('woff2'), url($path + $fileName + '.woff') format('woff'), url($path + $fileName + '.ttf2') format('truetype'), url($path + $fileName + '.svg#' + $fileName) format('svg');
			}
		}
		$i: $i+1;
	}
}

//  Animation

@mixin set-experimental-support($moz: false, $webkit: false) {
	$experimental-support-for-mozilla: $moz;
	$experimental-support-for-webkit: $webkit;
}

@mixin with-only-support-for($moz: false, $webkit: false) {
	//  Capture the current state
	$original-moz: $experimental-support-for-mozilla;
	$original-webkit: $experimental-support-for-webkit;

	@include set-experimental-support($moz, $webkit);

	@content;

	@include set-experimental-support($original-moz, $original-webkit);
}

@mixin keyframes(
	$name,
	$moz: $experimental-support-for-mozilla,
	$webkit: $experimental-support-for-webkit,
	$official: true
) {
	@if $moz {
		@include with-only-support-for($moz: true) {
			@-moz-keyframes #{$name} {
				@content;
			}
		}
	}
	@if $webkit {
		@include with-only-support-for($webkit: true) {
			@-webkit-keyframes #{$name} {
				@content;
			}
		}
	}
	@if $official {
		@include with-only-support-for {
			@keyframes #{$name} {
				@content;
			}
		}
	}
}

// Alignment

@mixin alignCenterByJustify() {
	text-align: justify;
	&::after {
		display: inline-block;
		visibility: hidden;
		overflow: hidden;
		width: 100%;
		height: 0;
		content: '';
	}
}
