// Utilities
@import './variables/_variables';
@import './functions/_functions';
@import './mixins/_mixins';
@import './extends/_extends'; // ToDo: get rid of this

// Globals
@import './_grid';
@import './_structure';

html {
	font-size: 71.4%;
	@media (min-width: $screen--M) {
		font-size: 62.5%;
	}
}

body {
	font-size: $font-size;
	color: $color;
	background-color: $background-color;
}

img,
video,
object {
	max-width: 100%;
}

li {
	list-style: none;
}

.text {
	line-height: 1.6;
	&-size {
		&--s {
			font-size: .85em;
		}
		&--xs {
			font-size: .72em;
		}
	}
	&--non-accent {
		color: $color--non-accent;
	}
}

.text-size-from-M--s {
	@media (min-width: $screen--M) {
		font-size: .85em;
	}
}

.text--bold {
	font-weight: $font-weight--bold;
}

.text--nowrap {
	white-space: nowrap;
}

.section {
	&-title {
		@extend %title-1;
		position: relative;
		padding-top: .5em;
		padding-bottom: .5em;
		margin-right: -$row__gutter;
		margin-left: -$row__gutter;
		text-align: center;
		@media (min-width: $screen--S) {
			text-align: left;
			margin-right: 0;
			margin-left: 0;
		}
		&--right {
			@media (min-width: $screen--S) {
				text-align: right;
				.section-title-text {
					margin-left: 0;
					margin-right: 0;
					padding-left: .5em;
					padding-right: 0;
				}
			}
			@media (min-width: $screen--M) {
				.section-title-text {
					padding-right: .5em;
					margin-right: 1em;
				}
			}
		}
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			border-top: 1px solid $border-color;
			@media (min-width: $screen--M) {
				border-color: $border-color--lighter;
			}
		}
		&-text {
			position: relative;
			padding-right: .5em;
			padding-left: .5em;
			background-color: $background-color;
			@media (min-width: $screen--S) {
				padding-left: 0;
			}
			@media (min-width: $screen--M) {
				padding-left: .5em;
				margin-left: 1em;
			}
		}
	}
}

// Links

.link {
	color: $link__color;
	cursor: pointer;
	transition-property: color, text-decoration;
	transition-duration: .1s;
	transition-timing-function: linear;
	&:hover {
		color: $link--hover__color;
		.link-text--non-accent {
			filter: brightness(.85);
		}
	}
}

.link--text {
	color: $color;
	font-weight: $font-weight--bold;
	&:hover {
		text-decoration: underline;
	}
}

.link--text-title {
	font-weight: $font-weight--regular;
	&:hover {
		text-decoration: none;
	}
}

.link-text--non-accent {
	filter: brightness(.75);
}

.link-marker {
	display: inline-block;
	position: relative;
	border: 1px solid;
	margin-right: .3em;
	width: .7em;
	height: .8em;
	border-radius: 3px;
	vertical-align: middle;
	margin-top: -.2em;
}

.link-marker-ico {
	position: absolute;
	top: -0.2em;
	right: 0.2em;
	transform: rotate(45deg);
	font-size: .5em;
}

// Action

.action {
	display: inline-block;
	padding: $action__padding-vertical $action__padding-side;
	border: 1px solid $action__border-color;
	border-radius: $action__border-radius;
	font-size: $action__font-size;
	background-color: $action__background-color;
	transition: all .1s linear;
	@media (min-width: $screen--M) {
		cursor: pointer;
	}
	&:focus {
		border-color: $action--active__border-color;
	}
	&:hover {
		border-color: $action--hover__border-color;
	}
}

.action--active {
	color: $color--white;
	background-color: $color--prime;
	border-color: $color--prime;
	pointer-events: none;
	&:hover {
		border-color: $color--prime;
	}
}

.action--secondary {
	border-style: dashed;
}



// Icons

.icon {
	width: 1em;
	height: 1em;
}

// Form

.input {
	padding: .33em .66em;
	border: 1px solid $border-color--darker;
	border-radius: $border-radius;
	background-color: $color--white;
	transition: all .1s linear;
	&:hover {
		border-color: $border-color--darkest;
	}
}

// Positioning

.u-pos--rel {
	position: relative;
}

.u-pos--sticky {
	position: sticky;
}