{
  "presets": [
    ["@babel/preset-env", {
      "modules": false
    }],
    "@babel/react"
  ],
  "plugins": [
    "react-require",
    "@babel/plugin-syntax-dynamic-import",
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "production": {
      "plugins": ["@babel/plugin-transform-react-inline-elements"]
    }
  }
}