# see https://editorconfig.org
# candidate for shared package

root = true

[*]
indent_style = space
charset = utf-8
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true

[*.{js,jsx,ts}]
indent_size = 4

[*.{json,yml}]
indent_size = 4

[*.scss]
indent_size = 2