{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "jsx": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ],
  "rules": {
    "quotes": [2, "single"],
    "no-unused-vars": 0,
    "no-console": 1
  },
  "globals": {
    "ga": true,
    "casper": true,
    "Stickyfill": true
  }
}
