@import './../../styles/variables/_variables';

$footer-seal__size: 5em;
$footer-seal--M__modifier: 1.4;

.footer-seal-wrap {
	position: relative;
	margin-bottom: $indent;
	@media (min-width: $screen--S) {
		margin-bottom: 0;
	}
	&::after	{
		content: '';
		height: 1px;
		border-top: 1px solid $border-color;
		position: absolute;
		left: -1000rem;
		right: 0;
		top: 50%;
		z-index: -1;
	}
}

.footer-seal {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 5em;
	background: $background-color;
	@media (min-width: $screen--S) {
		margin-right: 0;
		font-size: $footer-seal--M__modifier + em;
	}
	@media (min-width: $screen--M) {
		margin-top: -($footer-seal__size / 2);
	}
}

.footer-seal-img {
	display: block;
	opacity: .8;
	width: auto;
	height: auto;
	min-width: 7rem;
	min-height: 7rem;
}

.footer-seal-quarter {
	position: absolute;
	font-size: .85em;
}

.footer-seal-quarter--1 {
	left: 1em;
	top: 50%;
	margin-top: -.55em;
}

.footer-seal-quarter--2 {
	top: 1.4em;
	left: 50%;
	margin-left: -.25em;
}

.footer-seal-quarter--3 {
	right: 1em;
	top: 50%;
	margin-top: -.55em;
}

.footer-seal-quarter--4 {
	top: 3.8em;
	left: 50%;
	margin-left: -.25em;
}

.footer-copyright {
	position: relative;
	margin-top: -($footer-seal__size * $footer-seal--M__modifier / 2);
	padding-top: 1.2rem;
}

