.section-title {
    font-size: var(--font-size__XL);
    position: relative;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-right: -1em;
    margin-left: -1em;
    text-align: center;
  }
  
   .section-title::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 1px solid var(--border-color);
  }
  
   .section-title-text {
    position: relative;
    padding-right: .5em;
    padding-left: .5em;
    background-color: var(--background-color);
  }
  
   @media (min-width: 480px) {
    .section-title {
      font-size: 3rem;
      text-align: left;
      margin-right: 0;
      margin-left: 0;
    }
  
     .section-title--right {
      text-align: right;
    }
  
     .section-title--right .section-title-text {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0.5em;
      padding-right: 0;
    }
  
     .section-title-text {
      padding-left: 0;
    }
  }
  
   @media (min-width: 768px) {
    .section-title {
      font-size: 3.4rem;
    }
  
     .section-title::before {
      border-color: var(--border-color__light);
    }
  
     .section-title--right .section-title-text {
      padding-right: .5em;
      margin-right: 1em;
    }
  
     .section-title-text {
      padding-left: .5em;
      margin-left: 1em;
    }
  }