@keyframes fx {
    50% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
   .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    white-space: nowrap;
  }
  
   .spinner-dot {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 0.2em solid #a462d1;
    border-radius: 1em;
    margin: 0 0.5em;
    transform: scale(0);
  }
  
   .spinner-dot-1 {
    animation: fx 1000ms ease infinite 0ms;
  }
  
   .spinner-dot-2 {
    animation: fx 1000ms ease infinite 300ms;
  }
  
   .spinner-dot-3 {
    animation: fx 1000ms ease infinite 600ms;
  }