doctype html
html(lang='en').fonts-loading
	include ./head
	body
		main#main.main
		script.
			// Fonts
			if (localStorage.getItem('isFontsLoaded') === 'true') {
				document.documentElement.classList.add('fonts-loaded');
			}
			// Goggle Analytics
			window.ga = window.ga || function () {
								(ga.q = ga.q || []).push(arguments)
							};
			ga.l = +new Date;
			ga('create', 'UA-28620403-8', 'auto');
			ga('send', 'pageview');
		script(src='https://www.google-analytics.com/analytics.js', async)
		script(src="//platform.twitter.com/widgets.js", async, charset='utf-8')
		script(src='https://apis.google.com/js/platform.js', async, defer)
		script(id='github-bjs', src='https://buttons.github.io/buttons.js', async, defer)