@import './../../styles/variables/_variables';

$social-share__indent-left: $row__gutter--L + 6.5rem;

$social-share-item__padding-left: $indent--XS;

$social-share-item-line__width--L: 2rem;
$social-share-item-line__height: $indent;

@mixin social-share-item--last($width) {
	&::before {
		position: absolute;
		content: '';
		border-bottom: $line__border;
		width: $break--M;
		right: 100%;
		top: -$social-share-item-line__height;
		transform: translateX($social-share-item__padding-left + $width / 2);
	}
}

.social-share {
	display: table;
	position: relative;
	table-layout: fixed;
	margin: ($indent--L + $social-share-item-line__height) auto $indent--S;
	min-height: 2.4rem;

	@media (min-width: $screen--M) {
		display: block;
		position: absolute;
		top: $logo__size--L + $indent + $row__gutter--L;
		left: $social-share__indent-left;
		margin: 0;

		&::after,
		&::before {
			position: absolute;
			content: '';
		}

		&::after {
			top: 1rem;
			bottom: 1.6rem;
			left: -$social-share-item-line__width--L;
			width: .1rem;
			border-right: $line__border;
		}

		&::before {
			top: 50%;
			left: -$social-share__indent-left - 1000rem;
			margin-top: -.3rem;
			width: $social-share__indent-left - $social-share-item-line__width--L + 1000rem;
			border-bottom: $line__border;
		}
	}

	@media (min-width: $screen--L) {
		top: $logo__size--L + $indent + $row__gutter--L + $indent--L;
	}

	&-item {
		display: table-cell;
		position: relative;
		padding-left: $social-share-item__padding-left;
		vertical-align: top;

		&::after {
			position: absolute;
			content: '';
			border-right: $line__border;
			bottom: 100%;
			height: $social-share-item-line__height;
		}

		@media (min-width: $screen--M) {
			display: block;
			margin-bottom: .3rem;
			padding-left: 0;

			&::after {
				top: 50%;
				bottom: auto;
				right: 100%;
				height: auto;
				left: auto !important;
				width: $social-share-item-line__width--L;
				margin-top: -.2rem;
				border-right: 0;
				border-bottom: $line__border;
			}
		}

		&:first-child {
			padding-left: 0;
		}

		&--facebook {
			padding-bottom: .4rem;

			&::after {
				left: (5rem / 2);
			}
		}

		&--twitter {

			&::after {
				left: $social-share-item__padding-left + 6.2rem / 2;
			}
		}

		&--github {
			$github-button__width: 6.4rem;

			@include social-share-item--last($github-button__width);

			&::after {
				left: $social-share-item__padding-left + $github-button__width / 2;
			}

			@media (min-width: $screen--S) {
				&::before {
					display: none;
				}
			}
		}

		&--google {
			$google-button__width: 3rem;

			display: none;

			@media (min-width: $screen--S) {
				display: table-cell;
				@include social-share-item--last($google-button__width);

				&::after {
					left: $social-share-item__padding-left + $google-button__width / 2;
				}
			}

			@media (min-width: $screen--M) {
				display: block;

				&::before {
					display: none;
				}
			}
		}

		> div,
		> a {
			display: block;
			text-decoration: none;
			font-size: $font-size--S;
		}
	}
}
