@import './../../styles/variables/_variables';

@font-face {
	font-family: $font-name--regular;
	src:
		url(./../../fonts/OpenSans/OpenSans-Regular.woff2) format('woff2'),
		url(./../../fonts/OpenSans/OpenSans-Regular.woff) format('woff');
	font-weight: $font-weight--regular;
	font-style: normal;
}

@font-face {
	font-family: $font-name--regular;
	src:
		url(./../../fonts/OpenSans/OpenSans-Semibold.woff2) format('woff2'),
		url(./../../fonts/OpenSans/OpenSans-Semibold.woff) format('woff');
	font-weight: $font-weight--bold;
	font-style: normal;
}

@font-face {
	font-family: $font-name--emphasis;
	src:
		url(./../../fonts/Raleway/Raleway-ExtraLight.woff2) format('woff2'),
		url(./../../fonts/Raleway/Raleway-ExtraLight.woff) format('woff');
	font-weight: $font-weight--light;
	font-style: normal;
}

body {
	font-family: $font-family--fallback--regular;
	font-weight: $font-weight--fallback--light;
	letter-spacing: $letter-spacing--fallback--regular;
	line-height: $line-height--fallback--regular;
	transition: filter .1s linear;

	.fonts-loaded & {
		font-family: $font-family--regular;
		font-weight: $font-weight--regular;
		letter-spacing: $letter-spacing--regular;
		line-height: $line-height--fallback--regular;
	}

	// Fonts loading
	.fonts-loading & {
		filter: blur(5px);
	}

	// Fonts in cache
	.fonts-loaded & {
		filter: blur(1px);
	}

	// Font finished loading or failed
	.fonts-failed:not(.fonts-loading) &,
	.fonts-loaded:not(.fonts-loading) & {
		filter: none;
	}
}

.font-family--emphasis {
	font-family: $font-family--fallback--emphasis;
	font-weight: $font-weight--fallback--light;

	.fonts-loaded & {
		font-family: $font-family--emphasis;
		font-weight: $font-weight--light;
	}
}