%title-1 {
	font-size: $title-1__font-size;
	@media (min-width: $screen--S) {
		font-size: $title-1__font-size--M;
	}
	@media (min-width: $screen--M) {
		font-size: $title-1__font-size--L;
	}
}

%title-2 {
	font-size: $title-2__font-size;
	@media (min-width: $screen--S) {
		font-size: $title-2__font-size--M;
	}
	@media (min-width: $screen--M) {
		font-size: $title-2__font-size--L;
	}
}

%title-3 {
	font-size: $title-3__font-size;
	@media (min-width: $screen--S) {
		font-size: $title-3__font-size--M;
	}
	@media (min-width: $screen--M) {
		font-size: $title-3__font-size--L;
	}
}

%title-4 {
	font-size: $title-4__font-size;
	@media (min-width: $screen--S) {
		font-size: $title-4__font-size--M;
	}
	@media (min-width: $screen--M) {
		font-size: $title-4__font-size--L;
	}
}