$color--black: #000;
$color--gray-darkest: #333;
$color--gray-dark: #646464;
$color--gray-darken: #757575;
$color--gray-light: #999;
$color--gray-a: #aaa;
$color--gray-ba: #bababa;
$color--gray-c: #ccc;
$color--gray-e: #eee;
$color--gray-da: #dadada;
$color--gray-df: #dfdfdf;
$color--gray-milk: #fafafa;
$color--white: #fff;
$color--yellow-gold: #ffc200;
$color--orange: #d66d4f;
$color--violet: #a462d1;
$color--navy: #0e5a91;
$color--blue: #3b94d9;
$color--cyan: #02b9ff;

$color--prime: $color--violet;
$color--non-accent: $color--gray-light;
